html{
	min-height: 100%;
	margin: 0;
	background: linear-gradient(0.08turn, rgba(148, 187, 233, 1), rgba(238, 174, 202, 1.0));
	background-repeat: no-repeat;
	background-size: cover;
}
body{
	background: rgb(107, 106, 106);
	text-align: center;
}

::selection{
	background: rgb(219, 130, 169);
}
::-webkit-scrollbar{
	width: 16px;
}
::-webkit-scrollbar-track{
	background: rgba(148, 187, 233, 1.0);
}

.cards{
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;

}
.card{
	width: 310px;
	margin: 10px;
}

.card-image{
	width: 100%;
}

.card-text{
	font-weight: 600;
	margin: 0.3rem 0;
	background-color: rgba(207, 133, 155, 0.5);
	color: rgb(14, 47, 84);
}